$base-background: #1e212b;
$base-text-color: white;
$secondary-text-color: #888888;
$placeholder-color: #ffffffaf;

$base-accent-color: #4d8b31;
$base-accent-color-hover: #43792a;

$destructive-color: #9c1a1a;
$destructive-color-hover: #792a2a;

$warning-color: #ce5813;
$warning-color-hover: #b35d17;

$info-color: #1a779c;
$info-color-hover: #2a6779;

$nav-color: rgba(255, 255, 255, 0.05);
$nav-link-color-hover: rgba(255, 255, 255, 0.1);
$nav-link-color-active: rgba(255, 255, 255, 0.2);
$nav-link-color-active-hover: rgba(255, 255, 255, 0.3);

$input-background-color: rgba(255, 255, 255, 0.05);
$input-border-color: rgba(255, 255, 255, 0.1);
